@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Medium.woff2') format('woff2'), url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.ttf') format('truetype'), url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

ul,
ul li,
ol,
ol li {
    list-style: none;
    margin: 0;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

input,
label,
button {
    outline: none !important;
}

.form-control {
    box-shadow: none !important;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

body {
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
}

header {
    padding: 21px 0 31px;
}

.hair-health-outer {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 100px;
    position: relative;
}

.hair-health-outer.hair-screen-04 {
    padding-top: 80px;
}

.hair-health-outer .blank-box {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.hair-screen-01 {
    background-image: url(../images/screen01-img.jpg);
}

.hair-screen-02 {
    background-image: url(../images/screen02-img.jpg);
}

.hair-screen-03 {
    background-image: url(../images/screen03-img.jpg);
}

.hair-screen-04 {
    background: #DFDAD7;
}

.screen-outer-box {
    width: 100%;
    max-width: 720px;
}

.screen-outer-box.screen-outer-box02 {
    max-width: 100%;
}

.screen-outer-box.screen-outer-box03 {
    max-width: 950px;
}

.screen-outer-box h1 {
    font-weight: bold;
    font-size: 43px;
    line-height: 1.2;
    letter-spacing: -0.09px;
    color: #fff;
    margin-bottom: 25px;
}

.screen-outer-box p {
    font-weight: normal;
    font-size: 36px;
    line-height: 1.4;
    letter-spacing: -0.07px;
    color: #fff;
    margin-bottom: 0;
}

.screen-outer-box.screen-outer-box03 h1,
.screen-outer-box.screen-outer-box03 p {
    color: #000;
}

.screen-outer-box p+p {
    margin-top: 20px;
}

.screen-outer-box p a {
    color: #fff;
}

.screen-outer-box p a:hover {
    color: #fff;
    text-decoration: underline !important;
}

.screen-outer-box.screen-outer-box03 p a {
    color: #000;
}

.screen-outer-box.screen-outer-box03 p a:hover {
    color: #000;
    text-decoration: underline !important;
}

.screen-outer-box.screen-outer-box02 p {
    font-size: 21px;
    line-height: 1.2;
}

.screen-outer-box .video-box {
    margin-bottom: 30px;
}

.video-box .hair-health {
    display: block;
    width: 100%;
    max-width: 424px;
    height: 206px;
}

.submit-button {
    margin-top: 15px;
    text-align: right;
}

.submit-button a {
    display: inline-block;
    width: 157px;
    height: auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.54px;
    color: #fff;
    background: #242424;
    padding: 10px;
    transition: background 0.3s ease 0s;
}

.submit-button a:hover {
    background: #080808;
}

.final-product-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.final-product-wrapper span {
    display: block;
    margin: 25px 0 0;
}

.final-product-wrapper span:last-child {
    margin-left: 80px;
}

.email-notification-form {
    margin-top: 40px;
}

.email-notification-form .form-control {
    background: transparent;
    border: 1px solid #A5A4A3;
    width: 100%;
    max-width: 700px;
    height: 54px;
    padding: 4px 10px;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.07px;
    text-align: center;
    color: #000;
    border-radius: 0;
    display: inline-block;
    vertical-align: top;
}

.email-notification-form .send-btn {
    display: inline-block;
    width: 157px;
    height: auto;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.54px;
    color: #fff;
    background: #242424;
    padding: 10px;
    transition: background 0.3s ease 0s;
    border-radius: 0;
    margin-left: 30px;
    box-shadow: none !important;
    border: 0 none;
    vertical-align: top;
}

.email-notification-form .send-btn:hover {
    background: #080808;
}

@media (max-width: 991.98px) {
    .hair-health-outer {
        padding-top: 100px;
    }
    .screen-outer-box h1 {
        font-size: 35px;
    }
    .screen-outer-box p {
        font-size: 28px;
    }
    .hair-screen-03 {
        background-position: center top;
    }
    .email-notification-form .form-control {
        max-width: 450px;
        font-size: 28px;
    }
}

@media (max-width: 767.98px) {
    .screen-outer-box h1 {
        font-size: 30px;
    }
    .screen-outer-box p {
        font-size: 22px;
    }
    .submit-button a {
        width: 120px;
        font-size: 16px;
        line-height: 22px;
        padding: 9px 10px;
    }
    .screen-outer-box p+p {
        margin-top: 15px;
    }
    .hair-health-outer.hair-screen-04 {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .final-product-wrapper {
        flex-direction: column;
    }
    .final-product-wrapper span {
        display: block;
    }
    .final-product-wrapper span:last-child {
        margin-left: 0;
    }
    .email-notification-form {
        margin-top: 30px;
    }
    .email-notification-form .form-control {
        max-width: 65%;
        height: 40px;
        font-size: 22px;
        line-height: 30px;
    }
    .email-notification-form .send-btn {
        line-height: 22px;
        font-size: 16px;
        padding: 9px 10px;
        width: 120px;
    }
}

@media (max-width: 575.98px) {
    header {
        padding: 15px 0;
    }
    .logo-part {
        text-align: center;
    }
    .screen-outer-box h1 {
        font-size: 26px;
    }
    .screen-outer-box p {
        font-size: 18px;
        line-height: 1.5;
    }
    .screen-outer-box.screen-outer-box02 p {
        font-size: 18px;
        line-height: 1.5;
    }
    .hair-screen-01 {
        background-position: left -250px top;
    }
    .hair-screen-02 {
        background-position: center top;
    }
    .email-notification-form .form-control {
        font-size: 18px;
    }
}

@media (max-width: 479.98px) {
    .video-box .hair-health {
        height: 165px;
    }
    .email-notification-form .form-control {
        max-width: 100%;
    }
    .email-notification-form .send-btn {
        margin-left: 0;
        margin-top: 15px;
    }
}

@media (max-width: 359.98px) {
    .video-box .hair-health {
        height: 140px;
    }
}